.schedule {
  background: #A8D2FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A8D2FF, #239ECF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A8D2FF, #239ECF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 3em;
}

.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 1em;
  position: relative;
  background: inherit;
}

.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: white;
  left: 50%;
  margin-left: -1.5px;
}

.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}

.timeline .timeline-item:after {
  clear: both;
}

.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  border: 3px solid white;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  margin-top: 25%;
}

.timeline .timeline-item .timeline-badge {
  background-color: #239ECF;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 1em;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  border-radius: 5px;
}

.timeline .timeline-item .timeline-panel {
  border-top: 6px solid #239ECF;
}


.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid white;
  border-right: 0 solid white;
  border-bottom: 16px solid transparent;
  content: " ";
}

.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}


.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

p {
  font-size: 2em;
}


h4 {
  font-family: 'Montserrat', sans-serif;
}

.hackeps-title {
  color: rgb(241, 241, 241);
}
