<div class="schedule">
  <h2 class="hackeps-title mb-4">Horario</h2>

  <section class="timeline">
    <div class="container">
      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Abre Check-in</h2>
          <div class="date">8:30 - 23 OCT</div>
        </div>
      </div>


      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Cierra Check-in y empieza la ceremonia</h2>
          <div class="date">10:00 - 23 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Start hacking</h2>
          <div class="date">11:00  - 23 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Comida</h2>
          <div class="date">14:00 - 23 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Cena</h2>
          <div class="date">20:30 - 23 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Snack Time</h2>
          <div class="date">03:00 - 24 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Se acaba la hack</h2>
          <div class="date">11:00 - 24 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Persentación de retos</h2>
          <div class="date">11:30 - 24 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Ceremonia clausura</h2>
          <div class="date">13:00 - 24 OCT</div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
          <h2>Comiday despedida</h2>
          <div class="date">15:00 - 24 OCT</div>
        </div>
      </div>

    </div>
  </section>

</div>
