<div class="schedule ">
  <h2 class="hackeps-title mb-4">Horario</h2>

  <div class="d-none d-sm-none d-md-block d-lg-block" style="display:inline-block;width:100%;overflow-y:auto;">
    <ul class="timeline timeline-vertical">
      <li *ngFor="let e of events; let i = index" class="timeline-item {{ i }}">
        <div class="timeline-badge info">
          <i class="{{ e.icon }}"></i>
        </div>
        <div class="timeline-panel info">
          <div class="timeline-heading">
            <h4 class="timeline-title title">{{ e.name }}</h4>
            <p>
              <i class="text-muted fa fa-clock mr-3"></i>
              <small class="time text-muted">{{ e.date }}</small>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-lg-none d-sm-block d-md-none d-block">
    <ul>
      <li *ngFor="let e of events; let i = index" class="mb-2" style="color: whitesmoke">
          <i class="{{ e.icon }} mr-1"></i> {{ e.name }} - {{ e.date }}
      </li>
    </ul>
  </div>
</div>
