<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h5 class="montserrat"><i class="fas fa-flag"></i> ADMISIÓN</h5>
      <h6 class="text-muted mb-2"> Comprueba aquí si has sido aceptado como participante de la HackEPS 2021</h6>
    </mdb-card-title>
    <mdb-card-text>
      <div class="admission-wrapper text-center p-4">
        <div *ngIf="user?.accepted === 'PENDENT'">
          <h3 class="montserrat display-4 pendent">
            <i class="far fa-clock"></i>
            Pendiente
          </h3>
        </div>

        <div *ngIf="user?.accepted === 'YES'">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
              <div class="p-1">
                <qrcode [qrdata]="user?.email" [size]="128" [level]="'M'"></qrcode>
              </div>
              <small class="text-muted">Muestra este código para identificarte</small>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
              <h3 class="montserrat display-4 yes">
                <i class="fas fa-check"></i>
                Felicidades! Has sido admitido como participante
              </h3>
            </div>
          </div>
        </div>

        <div *ngIf="user?.accepted === 'NO'">
          <h3 class="montserrat display-4 no">
            <i class="fas fa-times"></i>
            Lo sentimos... No has sido admitido a la HackEPS 2021
          </h3>
        </div>
      </div>
      <!--<h4 class="text-muted mb-2"> Recuerda que al haberte inscrito has aceptado mostrar el <a [routerLink]="['/normativa-covid']">pasaporte COVID</a> al entrar al recinto del evento, y que de no cumplir el requisito puedes ser expulsado</h4>-->
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
