.team-member {
  margin: auto;
  height: 100%;
  width: 100%;

  img {
    height: inherit;
    width: inherit;
    margin: auto;
    display: block;
  }
}


.team-name {
  font-size: 2.3em;
}

.modal {
  padding-top: 5em;
}
