<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h5 class="montserrat"><i class="fas fa-users"></i> EQUIPO</h5>
      <h6 class="text-muted mb-2">Crea el mejor equipo posible</h6>
    </mdb-card-title>
    <mdb-card-text>
      <div *ngIf="team" class="row justify-content-center">
        <div *ngFor="let m of team?.members; let i = index" class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4">
          <div class="team-member view overlay">
            <img src="{{ m?.photoURL || 'assets/no-user.png' }}" class="img-fluid rounded-circle"
              alt="team-member-{{ i }}">
            <div *ngIf="user" class="mask flex-center waves-effect waves-light rgba-purple-light rounded-circle">
              <p class="white-text display-4 text-center">{{ m?.nickname }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!team" class="no-team text-center p-4">
        <h3 class="montserrat grey-text display-4 no-team-text">
          ¿Todavía no tienes equipo?
        </h3>
        <p class="text-muted">Crea uno o únete a tus amigos</p>
      </div>
    </mdb-card-text>
    <div *ngIf="!team">
      <a (click)="!loadingTeam && joinTeamMoal.show()" class="card-link"><i class="fas fa-sign-in-alt"></i>
        Únete a un equipo</a>
      <a (click)="!loadingTeam && teamBuildModal.show()" class="card-link"><i class="fas fa-plus"></i>
        Crea un equipo</a>
    </div>
    <div *ngIf="team" class="text-center">
      <h3 class="display-4 team-name"><i class="fas fa-shield-alt"></i> {{ team.name }}</h3>
      <small class="text-muted">Miembros: {{ this.team.members.length }}/4 </small><br>
      <small class="text-muted">Comparte este código con tus amigos: {{ team.uid }}</small>
    </div>
    <div *ngIf="team" class="text-right">
      <a (click)="!loadingTeam && leaveTeamModal.show()" class="card-link"><i class="fas fa-sign-out-alt"></i>
        Abandonar el equipo</a>
    </div>
  </mdb-card-body>
</mdb-card>


<div mdbModal #teamBuildModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="teamBuildModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="teamBuildModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Introduce el nombre de tu equipo</h4>
      </div>
      <div class="modal-body">
        <p class="text-muted">
          Introduce un nombre de equipo original. El nombre del equipo no podrá cambiarse.
        </p>
        <input [(ngModel)]="teamName" class="form-control" placeholder="My dream team" required>
        <small class="red-text">{{ error }}</small>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
          (click)="teamBuildModal.hide()" size="sm" mdbWavesEffect>Cancelar</button>
        <button type="button" size="sm" mdbBtn color="secondary" class="relative waves-light"
          [disabled]="!this.teamName" (click)="createTeam(teamBuildModal)" mdbWavesEffect>Crear equipo</button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #joinTeamMoal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="joinTeamMoal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="joinTeamMoal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel"> <i class="fas fa-qrcode"></i>
          Introduce el código de tu equipo</h4>
      </div>
      <div class="modal-body">
        <p class="text-muted">
          Si no sabes que código introducir aquí, pídeselo al compañero que ha creado tu equipo.
        </p>
        <input [(ngModel)]="teamCode" class="form-control" placeholder="Code of my dream team" required>
        <small class="red-text">{{ error }}</small>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="joinTeamMoal.hide()"
          size="sm" mdbWavesEffect>Cancelar</button>
        <button type="button" size="sm" mdbBtn color="secondary" class="relative waves-light"
          [disabled]="!this.teamCode" (click)="joinTeam(joinTeamMoal)" mdbWavesEffect>Unirse al equipo</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #leaveTeamModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="leaveTeamModal"aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="joinTeamMoal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"> <i class="fas fa-qrcode"></i>
            Abandonar el equipo</h4>
        </div>
        <div class="modal-body">
          <p class="text-muted">
            ¿Estás seguro que deseas abandonar tu equipo?
          </p>
          <small class="red-text">{{ error }}</small>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="leaveTeamModal.hide()"
            size="sm" mdbWavesEffect>Cancelar</button>
          <button type="button" size="sm" mdbBtn color="secondary" class="relative waves-light"
            (click)="leaveTeam(leaveTeamModal)" mdbWavesEffect>Abandonar equipo</button>
        </div>
      </div>
    </div>
</div>
