.team-member {
  margin: auto;
  height: 100%;
  width: 100%;

  img {
    height: inherit;
    width: inherit;
    margin: auto;
    display: block;
  }
}

.no-team-text {
  font-size: 2.5em;
}

.team-name {
  font-size: 2.3em;
}

.modal {
  padding-top: 5em;
}

h3, h5, h4, h6, a, span, label, p {
  color: #F7F7F2 !important;
}

.cream-color {
  color: #F7F7F2 !important;
}

.black-background {
  background-color: #202225;
}

.button-background {
  background: #A40925;
}
