<mdb-navbar #navbar style="z-index: 9999" SideClass="navbar navbar-expand-lg navbar-dark" class="bg-color"
  [containerInside]="false" mdbStickyHeader>
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/']">
      <img width="40" src="assets/logo-hackeps-nav.svg" alt="navbar-logo" />
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navlinks navbar-nav center-links">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/']" mdbWavesEffect>Home</a>
      </li>
      <!--<li class="nav-item" *ngIf="urlRegexValidator()?true:false">
        <a class="nav-link waves-light" href="#faqs" mdbWavesEffect>FAQ</a>
      </li>-->
      <li class="nav-item" *ngIf="urlRegexValidator()?true:false">
        <a class="nav-link waves-light" href="/hackeps-2022/#schedule" mdbWavesEffect>Horario</a>
      </li>
      <li class="nav-item" *ngIf="urlRegexValidator()?true:false">
        <a class="nav-link waves-light" href="/hackeps-2022/#calendar" mdbWavesEffect>Calendario</a>
      </li>
      <li class="nav-item" *ngIf="urlRegexValidator()?true:false">
        <a class="nav-link waves-light" href="/hackeps-2022/#sponsors" mdbWavesEffect>Sponsors</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/faqs']" class="nav-link waves-light">FAQs</a>
      </li>
      <li *ngIf="user" class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="{{ user?.photoURL }}" alt="" width=40 class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user']">Mi cuenta</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Cerrar sesión</a>
        </div>
      </li>
      <!--<li class="nav-item">
        <a [routerLink]="['/countdown']" class="nav-link waves-light">Countdown</a>
      </li>-->
    </ul>
  <!--
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a href="https://twitter.com/hackeps" target="_blank" class="nav-link waves-effect waves-light">
            <i class="fab fa-2x fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/hackeps_/" target="_blank" class="nav-link waves-effect waves-light">
            <i class="fab fa-2x fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/company/lleidahack/" target="_blank" class="nav-link waves-effect waves-light">
            <i class="fab fa-2x fa-linkedin"></i>
          </a>
      </li>
    </ul>
    -->
  </links>
</mdb-navbar>
