<h3 class="c9" id="h.e9xfrzzeohhi"><span class="c6">Objetivo</span></h3>
<p class="c4"><span>Por el presente documento se dan a conocer los t&eacute;rminos y
        condiciones de la HackEPS y que,
        desde ahora, ser&aacute; referido como la </span><span class="c8">HACKAT&Oacute;N</span><span
        class="c0">.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Esta HACKAT&Oacute;N consiste en un concurso de desarrollo
        de software y/o hardware en el
        que los participantes se enfrentar&aacute;n a retos multidisciplinares
        (inteligencia artificial, desarrollo web,
        ciberseguridad, electr&oacute;nica, etc.)</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">La organizaci&oacute;n</span></h3>
<p class="c4"><span class="c0">La HACKAT&Oacute;N est&aacute; organizada por la
        asociaci&oacute;n de estudiantes
        vinculada a la Universidad de Lleida: Asociaci&oacute;n Juvenil LleidaHack (en
        adelante, LA
        ORGANIZACI&Oacute;N), con domicilio en Calle Jaume II, n&uacute;mero 69, 25001
        Lleida, Lleida,
        Espa&ntilde;a.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span>Para contactar con LA ORGANIZACI&Oacute;N, puede ponerse en contacto a
        trav&eacute;s del correo
        electr&oacute;nico </span><span class="c5"><a class="c12"
            href="mailto:lleidahack@gmail.com">lleidahack@gmail.com</a></span><span class="c0">.</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.c70gt8k725cc"><span class="c6">&Aacute;mbito</span></h3>
<p class="c4"><span class="c0">La HACKAT&Oacute;N se realizar&aacute; en Lleida, en la
        Escuela Polit&eacute;cnica
        Superior de la Universidad de Lleida, en la calle Jaume II n&uacute;mero 69,
        los d&iacute;as 27 y 28 de
        noviembre de 2021.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span>El inicio de la HACKATON se realizar&aacute; el s&aacute;bado 27 de
        noviembre a las </span><span class="c3">8 horas </span><span>y
        terminar&aacute; el domingo 28 de noviembre a las </span><span class="c7 c3">15 horas.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span>La informaci&oacute;n actualizada sobre la agenda y los patrocinadores
        del evento se har&aacute;
        p&uacute;blica a su debido tiempo en la WEB DEL EVENTO: </span><span class="c5"><a class="c12"
            href="https://lleidahack.dev/hackeps-2021/">https://lleidahack.dev/hackeps-2021/</a></span><span
        class="c0">&nbsp;</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.gmpq81ed0xb8"><span class="c6">Requisitos para participar</span></h3>
<p class="c4"><span class="c0">Es apta para participar cualquier persona mayor de edad con
        DNI/NIF o pasaporte en vigor
        que, conforme la legislaci&oacute;n espa&ntilde;ola, acredite la identidad y
        edad del participante. Así como el pasaporte COVID especificado.</span></p>
<p class="c4"><span class="c0">La ORGANIZACI&Oacute;N excluir&aacute; a cualquier
        participante no se ajusten a su
        identidad real o que incumplan cualquier otra condici&oacute;n exigida.</span>
</p>
<h3 class="c9" id="h.grvmmcm3346z"><span class="c6">Admisi&oacute;n de los
        participantes</span></h3>
<p class="c4"><span class="c0">La inscripci&oacute;n al evento conlleva a la
        aceptaci&oacute;n de estos t&eacute;rminos
        y condiciones, y se har&aacute; desde la WEB DEL EVENTO anteriormente
        mencionada.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">El periodo de inscripci&oacute;n se cerrar&aacute; el 10 de
        noviembre, pudiendo esta
        fecha ser adelantada en caso que se haya cubierto el cupo de participantes
        antes del d&iacute;a 10 de
        noviembre.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">No existe ning&uacute;n coste asociado a la
        participaci&oacute;n en la HACKAT&Oacute;N,
        siendo totalmente gratuita la inscripci&oacute;n, aunque s&iacute;
        obligatoria. Adem&aacute;s, ser&aacute;
        obligatorio mostrar la entrada a la llegada del d&iacute;a inicial, y
        obligatorio mostrar la acreditaci&oacute;n
        cada vez que se entre al espacio del evento.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span>El n&uacute;mero de participantes ser&aacute; como m&aacute;ximo de
    </span><span class="c3">100
        personas</span><span class="c0">. SI se supera el n&uacute;mero de inscritos,
        la ORGANIZACI&Oacute;N
        gestionar&aacute; la asistencia en caso de ampliar el n&uacute;mero de plazas
        por riguroso orden de
        inscripci&oacute;n.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">La ORGANIZACI&Oacute;N se reserva el derecho de
        admisi&oacute;n.</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.rxybg1wni7qi"><span class="c6">Din&aacute;mica del evento</span></h3>
<p class="c4"><span class="c0">Tras el check-in, se proceder&aacute; a una
        presentaci&oacute;n de los diversos retos,
        habr&aacute;n 24 horas en las que los participantes podr&aacute;n desarrollar
        una soluci&oacute;n para los retos
        presentados por las empresas patrocinadoras.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span>Finalizado el plazo de desarrollo, cada equipo presentar&aacute; su (o
        sus) proyecto (o proyectos)
        al jurado correspondiente mediante la exposici&oacute;n de una DEMO. Esta DEMO
        no deber&aacute; durar m&aacute;s
        de </span><span class="c3">10 minutos</span><span class="c0">. No obstante, la
        empresa patrocinadora del reto se
        reserva el derecho a ampliar este tiempo si la situaci&oacute;n lo
        requiere.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Durante la DEMO ser&aacute; obligatorio mostrar el
        funcionamiento del sistema
        desarrollado, as&iacute; como aquellos aspectos de la idea que la empresa
        patrocinadora del reto considere
        m&aacute;s relevante. Recomendamos revisar los criterios de valoraci&oacute;n
        para tener claro qu&eacute;
        aspectos destacar a la hora de la presentaci&oacute;n al jurado.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Los participantes podr&aacute;n presentar prototipos a
        tantos retos como deseen, pudiendo
        s&oacute;lo </span></p>
<p class="c4"><span class="c0">presentar un prototipo por reto y siendo como requisito
        indispensable que sean prototipos
        funcionales y hayan sido previamente registrados en Devpost, de la misma forma
        que podr&aacute;n aprovechar el
        transcurso del evento para desarrollar un proyecto independiente.</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.gsfajyardqhw"><span class="c6">Grupos</span></h3>
<p class="c4"><span class="c0">Los grupos de la HACKATON estar&aacute;n formados hasta por
        cuatro integrantes, estando
        permitida, tambi&eacute;n, la participaci&oacute;n individual.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Los participantes que se inscriban podr&aacute;n asistir
        con su equipo previamente
        formado (cada participante debe inscribirse individualmente).</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Para aquellas personas que se inscriban a t&iacute;tulo
        individual, el d&iacute;a de la
        HACKATON podr&aacute;n formar grupo con otros participantes.</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.7nh0mxepc777"><span class="c6">Condiciones de
        participaci&oacute;n</span></h3>
<p class="c4"><span class="c0">La ORGANIZACI&Oacute;N se compromete a dotar de todos los
        elementos necesarios para el
        desarrollo de la HACKATON en t&eacute;rminos de conectividad y
        asistencia.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Los participantes ser&aacute;n los responsables de acudir
        con los dispositivos
        electr&oacute;nicos que necesiten para el desarrollo de su actividad.</span>
</p>
<p class="c1"><span class="c3 c7"></span></p>
<p class="c4"><span class="c0">Durante el transcurso del evento los participantes
        podr&aacute;n realizar salidas y
        entradas al edificio, portando y mostrando siempre que les sea requerida la
        acreditaci&oacute;n. Durante horario
        nocturno (20:00 - 08:00) se podr&aacute; salir y acceder con la
        autorizaci&oacute;n previa del encargado de
        seguridad presente en la entrada del edificio.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">La ORGANIZACI&Oacute;N no se hace responsable en caso de
        robo, p&eacute;rdida o accidente
        sobre las pertenencias de cualquier participante en el evento.</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.tu428i7pxgzx"><span class="c6">Premios</span></h3>
<p class="c4"><span class="c0">El ganador de cada reto ser&aacute; escogido por un jurado
        imparcial elegido por la
        empresa patrocinadora de dicho reto, teniendo en cuenta criterios como:
        originalidad de la idea, potencial de la
        idea, dificultad t&eacute;cnica, viabilidad del proyecto, dise&ntilde;o y
        usabilidad.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Los criterios del jurado ser&aacute;n explicados al inicio
        de la HACKATON durante la
        presentaci&oacute;n de sus respectivos retos.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">Se otorgar&aacute; un premio por reto, pudiendo la empresa
        patrocinadora del susodicho
        guardarse el derecho a entregar m&aacute;s premios sin previo aviso. Un premio
        puede declararse desierto siempre
        que la decisi&oacute;n est&eacute; justificada y sea ratificada por LA
        ORGANIZACI&Oacute;N y el
        patrocinador.</span></p>
<p class="c1"><span class="c0"></span></p>
<h1 class="c11" id="h.sxlz8gpyugn5"><span class="c2">Datos personales</span></h1>
<p class="c4"><span class="c0">Los datos personales ser&aacute;n tratados por LA
        ORGANIZACION para gestionar y tramitar
        la participaci&oacute;n del sujeto en LA HACKATON. Este tratamiento de datos
        es necesario y el participante
        consiente expresamente el mismo.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span>Los datos personales tambi&eacute;n pueden ser compartidos entre las
        empresas colaboradoras, no
        pudiendo estas compartirlos con empresas no relacionadas con el evento sin el
        permiso expl&iacute;cito del
        participante. Este tratamiento es opcional y el participante puede informar de
        su disconformidad al respecto
        durante el proceso de inscripci&oacute;n o, posteriormente, anular dicho
        consentimiento mediante un correo a
    </span><span class="c13"><a class="c12" href="mailto:lleidahack@gmail.com">lleidahack@gmail.com</a></span><span
        class="c0">. </span></p>
<p class="c1"><span class="c0"></span></p>
<h1 class="c11" id="h.8vxa9pih7ea9"><span class="c2">Derechos de Propiedad
        Intelectual</span></h1>
<p class="c4"><span class="c0">Los participantes validan que todas las propuestas que se
        presenten al evento, son
        originales y no infringen la propiedad intelectual de terceras partes. Si se
        hiciese uso de ideas ajenas a los
        participantes o software sujeto a licencias no libres, ser&aacute; necesario
        poseer una aprobaci&oacute;n
        expl&iacute;cita del propietario intelectual.</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">El software desarrollado en las instalaciones del evento
        durante el transcurso de este,
        ser&aacute; considerado propiedad del equipo participante.</span></p>
<p class="c1"><span class="c0"></span></p>
<h1 class="c11" id="h.u8n24y707os1"><span class="c2">Otros</span></h1>
<p class="c4"><span>La ORGANIZACI&Oacute;N se reserva el derecho a introducir cambios en
        el funcionamiento de la
        HACKATON en cualquier momento y/o finalizarlo de forma anticipada si fuera
        necesario por causas justificadas,
        sin que de ello pueda derivarse responsabilidad alguna.</span></p>
