<form [formGroup]="profileUpdaterForm" (ngSubmit)="onSubmit()">
  <label for="full-name">Nombre completo</label>
  <input formControlName="fullName" type="text" id="full-name" id="full-name" class="form-control mb-4"
    placeholder="Jhon Doe">

  <label>Nickname</label>
  <input formControlName="nickname" type="text" id="nickname" name="nickname" class="form-control mb-4"
    placeholder="JhonDoe6969">

  <label for="birth-date">Fecha de nacimiento</label>
  <input formControlName="birthDate" type="date" id="birth-date" name="birth-date" class="form-control mb-4" mdbInput>

  <label for="stree">Dirección</label>
  <input formControlName="street" type="text" id="street" name="street" class="form-control mb-4" mdbInput>

  <label for="github-url"><i class="fab fa-github-alt"></i> Github Profile</label>
  <input formControlName="githubUrl" type="text" id="github-url" name="github-url" class="form-control mb-4"
    placeholder="https://github.com/JhonDoe">

  <label for="linkedin-url"><i class="fab fa-linkedin"></i> LinkedIn Profile</label>
  <input formControlName="linkedinUrl" type="text" id="linkedin-url" name="linkedin-url" class="form-control mb-4"
    placeholder="https://linkedin...">

    <label><i class="fas fa-tshirt"></i> Talla camiseta *</label>
    <div class="mb-4 ml-4">

      <div class="custom-control custom-radio custom-control-inline">
        <input value="S" formControlName="shirtSize" type="radio" class="custom-control-input" id="s-size" name="shirtSize" mdbInput>
        <label class="custom-control-label" for="s-size">S</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input value="M" formControlName="shirtSize" type="radio" class="custom-control-input" id="m-size" name="shirtSize" mdbInput>
        <label class="custom-control-label" for="m-size">M</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input value="L" formControlName="shirtSize" type="radio" class="custom-control-input" id="l-size" name="shirtSize" mdbInput>
        <label class="custom-control-label" for="l-size">L</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input value="XL" formControlName="shirtSize" type="radio" class="custom-control-input" id="xl-size" name="shirtSize" mdbInput>
        <label class="custom-control-label" for="xl-size">XL</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input value="XXL" formControlName="shirtSize" type="radio" class="custom-control-input" id="xxl-size" name="shirtSize" mdbInput>
        <label class="custom-control-label" for="xxl-size">XXL</label>
      </div>
    </div>

  <label>Alérgenos </label>
  <textarea formControlName="food" type="text" id="food" name="food" class="form-control mb-4"
    placeholder="Pescado, lechuga..."></textarea>

  <mdb-checkbox formControlName="gdpr" [default]="true">Acepto que las empresas colaboradoras puedan conocer mi datos</mdb-checkbox>

  <div class="w-100 text-right">
    <button mdbBtn type="submit" class="button-gradient" rounded="true" size="sm"
      mdbWavesEffect>Guardar cambios</button>
  </div>

</form>
