.top-grad {
    background: #fe7f9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fe7f9c, #ffa7bb, #ffc9d6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fe7f9c, #ffa7bb, #ffc9d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
    height: 35vh;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .skyline {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.9;
    z-index: 0;
  }
  
  .container {
    margin-top: 10em;
  }
  
  @media (max-width: 576px) {
    .container {
      margin-top: 1em;
    }
  }
  