h4 {
  font-family: 'Montserrat', sans-serif;
  color: #fe7f9c;
}

.row > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .card {
    width: 20em;
  }

  .hackeps-card {
    height: 100%;
  }
}
