<div class="faqs-container container p-4">
  <h2 class="hackeps-title mb-4">FAQs</h2>

  <div class="row d-none d-sm-flex mt-4 pt-4 justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4" *ngFor="let f of faqs; let i = index">
      <div class="hackeps-card p-3 d-flex">
        <mdb-card-body>
          <mdb-card-title>
            <h4 class="font-weight-bold text-center">{{ f.question }}</h4>
          </mdb-card-title>
          <mdb-card-text class="text-left">
            {{ f.answer }}
          </mdb-card-text>
        </mdb-card-body>
      </div>
    </div>
  </div>

  <div class="horizontal-scroll d-lg-none d-sm-flex d-lg-flex">
    <div class="p-2" *ngFor="let f of faqs; let i = index">
      <div class="card hackeps-card p-2 d-flex">
        <mdb-card-body>
          <mdb-card-title>
            <h4 class="font-weight-bold text-center">{{ f.question }}</h4>
          </mdb-card-title>
          <mdb-card-text class="text-left">
            {{ f.answer }}
          </mdb-card-text>
        </mdb-card-body>
      </div>
    </div>
  </div>
</div>
