.banner {
  background: #fe7f9c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fe7f9c, #ffa7bb, #ffc9d6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fe7f9c, #ffa7bb, #ffc9d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  i {
    font-size: 4em;
  }
  color: white;
}

.count-down {
  margin: auto;
  display: block;
  width: 100%;
  color: white;
  // font-weight: bold;
  font-size: 6em;
  text-align: center;
}
