<mdb-card class="black-background">
  <mdb-card-body>
    <mdb-card-title>
      <h5><i class="fas fa-calendar-alt"></i> CALENDARIO</h5>
      <!--<h6 class="text-muted mb-4">Comparte tus soluciones con el equipo de HackEPS</h6>-->
      <h6 class="text-muted mb-4">¡Aquí puedes entregar tus soluciones a los dailyhacks!</h6>
    </mdb-card-title>
    <mdb-card-text>
      <p class="text-center mb-w">
      <small [class]="msg.startsWith('Error') ? 'error' : 'success'">{{ msg }}</small>
      </p>

      <div class="row pl-3 align-items-center">
        <div class="col-10">
          <label><i class="fas fa-microchip mr-1"></i>Conway's Game of Life</label>
          <input [disabled]="true" type="text" id="challenge1" name="challenge1" class="form-control mb-4"
            #challenge1 placeholder="URL de tu repositorio de GitHub">
        </div>
        <div class="col-2">
          <button mdbBtn type="submit"
                  [disabled]="true"
                  class="button-gradient" rounded="true"
                  size="sm"
                  mdbWavesEffect>Subir</button>
        </div>
        <div class="col-10">
          <label><i class="fas fa-book mr-1"></i>HackersGotHacked</label>
          <input [disabled]="true" type="text" id="challenge2" name="challenge2" class="form-control mb-4"
            #challenge2 placeholder="URL de tu repositorio de GitHub">
        </div>
        <div class="col-2">
          <button mdbBtn type="submit"
                  [disabled]="true" 
                  class="button-gradient" rounded="true"
                  size="sm"
                  (click)="submitPokemonChallenge(challenge2)"
                  mdbWavesEffect>Subir</button>
        </div>
        <div class="col-10">
          <label><i class="fas fa-file-image mr-1"></i>Logo Identifier</label>
          <input type="text" id="challenge3" name="challenge3" class="form-control mb-4"
            #challenge3 placeholder="URL de tu repositorio de GitHub">
        </div>
        <div class="col-2">
          <button mdbBtn type="submit"
                  class="button-gradient" rounded="true"
                  (click)="submitMLChallenge(challenge3)"
                  size="sm" mdbWavesEffect>Subir</button>
        </div>
      </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
