.pokemon-challenge-icon {
  height: 2em;
}

.fa-brain, .fa-microchip {
  font-size: 1.5em;
}

.error {
  color: #e46666;
}

.success {
  color: #87b653;
}

.button-gradient {
  background: #A40925;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A40925, #A40925, #A40925);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A40925, #A40925, #A40925); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#F7F7F2 !important;
}

h5, h6, a, span, label{
  color: #F7F7F2 !important;
}

.black-background {
  background-color: #202225;
}