.banner {
  background: #A40925;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A40925, #A40925, #A40925);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A40925, #A40925, #A40925); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;

  display: flex;
  position: relative;
}

.button-gradient {
  background: #F7F7F2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F7F7F2, #F7F7F2, #F7F7F2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F7F7F2, #F7F7F2, #F7F7F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cream-color {
  color: #F7F7F2;
}

.black-background {
  background-color: #202225;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #F7F7F2;
  text-shadow: 0 1px 0 #fff;
}


.logo {
  max-width: 30%;
  max-height: 30%;
  width: 50vh;
  margin: auto;
  margin-top: 10%;
  z-index: 2;
}

.banner-button {
  position: absolute;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.modal-pos {
  margin-top: 20%;
}

@media (min-width: 1350px) {
  .logo {
    max-width: 30%;
    max-height: 30%;
    width: 50vh;
    margin: auto;
    margin-top: 10%;
    z-index: 2;
  }

  .clossed-button {
    top: 52%;
    left: 50%;
  }

  .clossed-signIn-button {
    top: 60%;
    left: 50%;
  }
  
  .signUp-button {
    top: 60%;
    left: 45%;
  }
  
  .signIn-button {
    top: 60%;
    left: 57%;
  }
}

@media screen and (max-width: 1349px) and (min-width: 1000px) {
  .logo {
    max-width: 25%;
    max-height: 25%;
    width: 50vh;
    margin: auto;
    margin-top: 10%;
    z-index: 2;
  }

  .clossed-button {
    top: 54%;
    left: 50%;
  }

  .clossed-signIn-button {
    top: 66%;
    left: 50%;
  }

  .signUp-button {
    top: 60%;
    left: 42%;
  }
  
  .signIn-button {
    top: 60%;
    left: 61%;
  }
}

@media screen and (max-width: 999px) and (min-width: 500px) {
  .logo {
    max-width: 30%;
    max-height: 30%;
    width: 50vh;
    margin: auto;
    margin-top: 10%;
    z-index: 2;
  }

  .clossed-button {
    top: 63%;
    left: 50%;
  }

  .clossed-signIn-button {
    top: 73%;
    left: 50%;
  }

  .signUp-button {
    top: 64%;
    left: 37%;
  }
  
  .signIn-button {
    top: 60%;
    left: 65%;
  }
}

@media screen and (max-width: 499px) and (min-width: 351px) {
  .logo {
    max-width: 30%;
    max-height: 30%;
    width: 50vh;
    margin: auto;
    margin-top: 10%;
    z-index: 2;
  }

  .logo {
    margin-top: 20%!important;
  }

  .clossed-button {
    top: 46%;
    left: 50%;
  }

  .clossed-signIn-button {
    top: 62%;
    left: 50%;
  }

  .signUp-button {
    top: 55%;
    left: 50%;
  }
  
  .signIn-button {
    top: 65%;
    left: 50%;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    max-width: 30%;
    max-height: 30%;
    width: 50vh;
    margin: auto;
    margin-top: 10%;
    z-index: 2;
  }

  .clossed-button {
    top: 50%;
    left: 50%;
  }

  .signUp-button {
    top: 50%;
    left: 50%;
    font-size: 0.74rem!important;
  }
  
  .signIn-button {
    top: 60%;
    left: 50%;
    font-size: 0.74rem!important;
  }
}

.skyline {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 0;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

@media (max-width: 980px) {
  .logo {
    margin-top: 25%;
  }
}

@media (max-height: 450px ){
  .logo {
    margin-top: 10%;
  }
}
