.banner {
  background: #b993d6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b993d6, #8ca6db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;

  display: flex;
  position: relative;
}

.logo {
  width: 50vh;
  margin: auto;
  margin-top: 10%;
  z-index: 2;
}

.banner-button {
  position: absolute;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.modal-pos {
  margin-top: 20%;
}

.signUp-button {
  top: 60%;
  left: 57%;
}

.signIn-button {
  top: 60%;
  left: 45%;
}

.skyline {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 0;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

@media (max-width: 980px) {
  .logo {
    margin-top: 25%;
  }
}
