<div class="parallax banner">
  <div id="particles-js"></div>
  <img class="logo" src="assets/logo-hackeps-reduced.png">
  <img class="skyline" src="assets/skyline.svg">
  <button class="signUp-button banner-button button-gradient" type="button" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="enableConfirmPassword(); enableSignUp(); frame.show()" mdbWavesEffect>Únete ahora</button>
  <button class="signIn-button banner-button button-gradient" type="button" mdbBtn rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="disableConfirmPassword(); enableSignIn(); frame.show()" mdbWavesEffect>Entra ahora</button>
</div>

<div mdbModal #frame="mdbModal" class="modal fade left" id="signModal" tabindex="-1" role="dialog"
     aria-labelledby="signModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    
    <div class="modal-content modal-pos">
      <alert></alert>
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{this.getModalTitle()}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <fa-icon [icon]="faEnvelope" class="prefix grey-text"></fa-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Tu correo</label>
          <mdb-error
            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Correo inválido
          </mdb-error>
        </div>
        <div class="md-form mb-4">
          <fa-icon [icon]="faLock" class="prefix grey-text"></fa-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-pass">Contraseña</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Contraseña inválida
          </mdb-error>
        </div>
        <div *ngIf="this.getShowConfirmPassword()">
          <div class="md-form mb-4">
            <fa-icon [icon]="faLock" class="prefix grey-text"></fa-icon>
            <input type="password" id="defaultForm-ConfirmPass" [formControl]="loginFormModalConfirmPassword" class="form-control"
                  mdbInput mdbValidate>
            <label for="defaultForm-ConfirmPass">Confirma tu contraseña</label>
            <mdb-error
              *ngIf="loginFormModalConfirmPassword.invalid &&
                      (loginFormModalConfirmPassword.dirty || loginFormModalConfirmPassword.touched)">
              Las contraseñas no coinciden.
            </mdb-error>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn (click)="signInSignUpMailAndPass()"[disabled]="loginFormModalPassword.invalid || loginFormModalEmail.invalid" class="waves-light button-gradient" mdbWavesEffect><fa-icon [icon]="faEnvelope" class="prefix"></fa-icon> Con tu Correo</button>
          <button mdbBtn (click)="loginWithGoogle()" class="waves-light button-gradient" mdbWavesEffect><fa-icon [icon]="faGooglePlusG" class="prefix"></fa-icon> Con Google</button>
      </div>
    </div>
  </div>
</div>
