<h3 class="c9" id="h.e9xfrzzeohhi"><span class="c6">Introducción</span></h3>
<p class="c4"><span>
    En este documento se establecen las medidas preventivas a implementar en el evento HackEPS, 
    con el objetivo de disminuir el riesgo de contagio de Covid-19</span></p>
    <p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">
    A continuación, se detallarán las medidas de obligatorio cumplimiento para todos los asistentes, 
    prensa y organizadores. La organización se reserva el derecho de expulsar a cualquier participante que no cumpla 
    estas medidas o las instrucciones facilitadas por la misma.
</span></p>
<p class="c1"><span class="c0"></span></p>
<h3 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Medidas Preventivas</span></h3>
<h4 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Medidas para el ingreso</span></h4>
<p class="c4"><span class="c0">
    Para acceder al recinto dónde se celebra la HackEPS será necesario presentar el Pasaporte COVID, 
    un documento equivalente, o una prueba negativa realizada como máximo 24 horas anteriores al evento. 
    En la entrada se realizará la toma de temperatura de los asistentes mediante termómetros sin contacto y de 
    manos mediante solución de gel hidroalcohólico.
</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">
    Los invitados, entendiéndose estos como personas ajenas al evento, podrán acceder a las zonas comunes del recinto. 
    Se les solicitarán las credenciales y el Pasaporte COVID igual que al resto de participantes. 
    La acreditación de Invitado, que se les entregará en la entrada, deberá ser visible en todo momento.
</span></p>
<h4 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Medidas Generales</span></h4>
<ul>
    <li>El uso de mascarilla es obligatorio durante todo el evento y en todos los espacios. Excepcionalmente, se permitirá ir sin mascarilla para comer o beber.</li>
    <li>Lavado frecuente de manos.</li>
    <li>Estornudar o toser en el antebrazo o pañuelo desechable y no reutilizable.</li>
    <li>No compartir alimentos ni artículos de higiene con otras personas.</li>
    <li>Mantener la distancia de seguridad con los distintos grupos en todo momento.</li>
    <li>Minimizar al máximo el contacto físico.</li>
    <li>Separación mínima de 2 metros de los distintos grupos.</li>
    <li>Si la climatología lo permite, la comida se realizará en espacios exteriores.</li>
</ul>
<h4 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Medidas de la Organización</span></h4>
<ul>
    <li>Los espacios serán desinfectados de manera periódica.</li>
    <li>Ventilación de los espacios mediante medios naturales y filtros de aire.</li>
    <li>Controles periódicos de los niveles de CO2 en las salas.</li>
    <li>Uso de guantes para manipular acreditaciones, objetos, comida, etc.</li>
    <li>Durante todo el evento habrá Agentes COVID comprobando que se cumplan las medidas.</li>
    <li>Limitación del aforo en todos los espacios con el objetivo de mantener la distancia de seguridad.</li>
    <li>La organización llevará mascarillas FFP2 en todo momento debido a la alta exposición.</li>
</ul>
<h4 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Cambios de Mascarilla</span></h4>
<p class="c4"><span class="c0">
    La organización facilitará mascarillas que tendrán que ser cambiadas cada 4 horas de manera obligatoria. 
    Para verificar estos cambios, se utilizarán mascarillas de distintos colores.
</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">
    En caso de que la mascarilla se rompa, moje, etc. La organización facilitará otra.
</span></p>
<h3 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Derecho de Admisión</span></h3>
<p class="c4"><span class="c0">
    La organización se reserva el derecho de admisión, no se permitirá la entrada a las personas que no quieran 
    facilitar el Pasaporte COVID, documento equivalente o prueba negativa.
</span></p>
<p class="c1"><span class="c0"></span></p>
<p class="c4"><span class="c0">
    También se reserva el derecho de expulsión de cualquier participante en caso de no cumplimiento de 
    las normas aquí detalladas o las instrucciones facilitadas el mismo día.
</span></p>
<h3 class="c9" id="h.ghx9sxxrf5f3"><span class="c6">Gestión de Residuos Sanitarios</span></h3>
<p class="c4"><span class="c0">
    Los residuos y material sanitario será tratado de manera especial y solo podrá ser manipulado por la organización. 
    Este será depositado en contenedores separados y, posteriormente,almacenado en una zona ventilada.
</span></p>
<p class="c1"><span class="c0"></span></p>





