@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.hackeps-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  position: relative;
  width: 100%;
  text-align: center;
  position: relative;
}

.hackeps-title:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 2em;
  height: 5px;
  background: #9575cd;
  bottom: -.2em;
  transform: translate(-50%, 50%);
}

.hackeps-card {
  background: #fff;
  border-radius: .3em;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

html, body {
  overflow-x: hidden;
}
