/* You can add global styles to this file, and also import other style files */
$dayBase: 50px;
$cloud:'#444444';
$base:20px;
$concrete:'#111111';
$seafoam:'#234abc';
$white:'#fff';
$teal:'black';
$light-blue-grey:'#AAAAAA';