<div class="wrapper black-background">
      <div class="top-grad d-none d-sm-block">
            <img class="skyline" src="assets/skyline.svg">
      </div>
      <div class="container p-4">
            <mdb-card class="black-background">
                  <mdb-card-body class="p-4">
                        <mdb-card-title class="mb-4">
                              <h2 class="cream-color">T&eacute;rminos y condiciones de HackEPS</h2>
                        </mdb-card-title>
                        <mdb-card-text>
                              <app-terms-and-conditions-text></app-terms-and-conditions-text>
                        </mdb-card-text>
                  </mdb-card-body>
            </mdb-card>
      </div>
</div>
