<app-banner (afterLogin)="checkAndRedirect($event)"></app-banner>
<app-faqs id="faqs"></app-faqs>
<app-schedule></app-schedule>
<app-calendar id="calendar"></app-calendar>
<app-sponsors id="sponsors"></app-sponsors>

<div class="footer text-center text-white p-4">
  <p>Made with <i class="fas fa-heart"></i> by <a href="https://lleidahack.github.io/">LleidaHack</a></p>
  <p><a [routerLink]="['/terms-and-conditions']">Términos y condiciones</a></p>
</div>

<app-loading-overlay [show]="loading"></app-loading-overlay>
