.footer {
  background: #A40925;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A40925, #A40925, #A40925);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A40925, #A40925, #A40925); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  a {
    color: whitesmoke;
  }

  a:hover {
    color: #cacaca;
  }
}
