.footer {
  background: #A8D2FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A8D2FF, #239ECF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A8D2FF, #239ECF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  a {
    color: whitesmoke;
  }

  a:hover {
    color: #cacaca;
  }
}
