<app-loading-overlay [show]="loading"></app-loading-overlay>

<div class="wrapper">
  <div class="top-grad d-none d-sm-block">
    <img class="skyline" src="assets/skyline.svg">
  </div>
  <div class="container p-4">
    <mdb-card>
      <mdb-card-body class="p-4">
        <mdb-card-title class="mb-4">
          <h4 class="montserrat">Formulario de registro</h4>
        </mdb-card-title>
        <mdb-card-text>
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="full-name">Nombre completo *</label>
              <input formControlName="fullName" type="text" id="full-name" id="full-name" class="form-control mb-4" placeholder="Jhon Doe">
              <span class="error" *ngIf="shouldShowError('fullName')">El nombre es obligatorio (5 carateres mínimo)</span>
            </div>
            <div>
              <label>Nickname *</label>
              <input formControlName="nickname" type="text" id="nickname" name="nickname" class="form-control mb-4" placeholder="JhonDoe6969">
              <span class="error" *ngIf="shouldShowError('nickname')">El apodo es obligatorio (2 caracteres mínimo)</span>
            </div>
            <div>
              <label>Correo electrónico *</label>
              <input formControlName="email" type="email" id="email" name="email" class="form-control mb-4" placeholder="jhon.doe@mail.com">
              <span class="error" *ngIf="shouldShowError('email')">El correo electrónico es obligatorio</span>
            </div>
            <div>
              <label>Dirección*</label>
              <input formControlName="street" type="text" id="street" name="street" class="form-control mb-4" placeholder="JhonDoe Street #69 6 Floor 9 Door, JhonDoe City, cp 6969">
              <span class="error" *ngIf="shouldShowError('street')">La dirección es obligatoria</span>
            </div>
            <div>
              <label for="birth-date">Fecha de nacimiento *</label>
              <input formControlName="birthDate" type="date" id="birth-date" name="birth-date" class="form-control" mdbInput>
              <span class="error" *ngIf="shouldShowError('birthDate')">La fecha de nacimiento es obligatoria</span>
            </div>
            <div class="row mb-4 mt-4">
              <div class="col-sm-12 col-lg-6 col-md-6 mb-4">
                <label for="github-url"><i class="fab fa-github-alt"></i> Github Profile *</label>
                <input formControlName="githubUrl" type="text" id="github-url" name="github-url" class="form-control"
                  placeholder="https://github.com/JhonDoe">
                <span class="error" *ngIf="shouldShowError('githubUrl')">Tu perfil de GitHub es obligatorio</span>
              </div>
              <div class="col-sm-12 col-lg-6 col-md-6">
                <label for="linkedin-url"><i class="fab fa-linkedin"></i> LinkedIn Profile</label>
                <input formControlName="linkedinUrl" type="text" id="linkedin-url" name="linkedin-url" class="form-control"
                  placeholder="https://linkedin...">
              </div>
            </div>

            <!-- <label><i class="fas fa-tshirt"></i> Talla camiseta *</label>
            <div class="mb-4 ml-4">

              <div class="custom-control custom-radio custom-control-inline">
                <input value="S" formControlName="shirtSize" type="radio" class="custom-control-input" id="s-size" name="shirtSize" mdbInput>
                <label class="custom-control-label" for="s-size">S</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input value="M" formControlName="shirtSize" type="radio" class="custom-control-input" id="m-size" name="shirtSize" mdbInput>
                <label class="custom-control-label" for="m-size">M</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input value="L" formControlName="shirtSize" type="radio" class="custom-control-input" id="l-size" name="shirtSize" mdbInput>
                <label class="custom-control-label" for="l-size">L</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input value="XL" formControlName="shirtSize" type="radio" class="custom-control-input" id="xl-size" name="shirtSize" mdbInput>
                <label class="custom-control-label" for="xl-size">XL</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input value="XXL" formControlName="shirtSize" type="radio" class="custom-control-input" id="xxl-size" name="shirtSize" mdbInput>
                <label class="custom-control-label" for="xxl-size">XXL</label>
              </div>
            </div> -->

            <label>Alérgenos </label>
            <textarea formControlName="food" type="text" id="food" name="food" class="form-control mb-4" placeholder="Pescado, lechuga..."></textarea>

            <mdb-checkbox formControlName="gdpr" [default]="true">Acepto que las empresas colaboradoras puedan conocer mi datos</mdb-checkbox>

            <mdb-checkbox formControlName="terms" [default]="true">He leído y acepto los <a [routerLink]="['/terms-and-conditions']">terminos y condiciones</a> *</mdb-checkbox>
            <mdb-checkbox formControlName="covid" [default]="true"><mark><b>IMPORTANTE:</b>Acepto que para poder acceder al evento debo presentar <a [routerLink]="['/normativa-covid']">passaporte COVID</a> al inicio de este, de lo contrario no se permitirá ni entrada ni participación*</mark></mdb-checkbox>

            <i class="text-muted mt-2">* Campos obligatorios</i>

            <div class="w-100 text-right">
              <button mdbBtn [disabled]="signUpForm.invalid" type="submit" rounded="true" class="button-gradient waves-light" mdbWavesEffect style="color:black">Únete ahora</button>
            </div>

          </form>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
