<app-loading-overlay [show]="loading"></app-loading-overlay>
<div class="wrapper">
  <div class="top-grad">
    <img class="skyline" src="assets/skyline.svg">
  </div>

  <div class="row mt-4 pr-3 justify-content-center">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="user-img pr-4 pl-4 pt-4">
        <img src="{{ user?.photoURL }}" class="img-fluid z-depth-3 rounded-circle" alt="{{ user?.displayName }}-avatar">
      </div>
      <div *ngIf="user" class="profile-updater-wrapper p-4 d-none d-sm-none d-md-none d-lg-block " >
        <app-profile-updater-form (loading)="loading = $event"
          [user]="user"></app-profile-updater-form>
      </div>
    </div>

    <div class="user-dashboard col-lg-9 col-md-12 col-sm-12 pt-4 pr-md-4 pr-2 pr-lg-4 pl-4 pb-4">
      <div class="d-none d-sm-none d-md-none d-lg-block separator"></div>

      <div *ngIf="user" class="team-build-wrapper mb-4">
        <app-team-build [user]="user"></app-team-build>
      </div>

      <div *ngIf="user" class="mb-4">
        <app-accepted [user]="user"></app-accepted>
      </div>

      <!-- <mdb-card class="mb-4">
        <mdb-card-body>
          <mdb-card-title>
            <h5 class="montserrat"><i class="far fa-calendar-alt"></i> RETOS DEL CALENDARIO</h5>
            <h6 class="text-muted mb-2">Sube aquí los retos resueltos del calendario</h6>
          </mdb-card-title>
          <mdb-card-text>
            <h3 class="montserrat display-4 text-center">Coming soon...</h3>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card> -->

      <div *ngIf="user" class="d-block d-sm-block d-md-block d-lg-none ">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="montserrat"><i class="fas fa-pencil-alt"></i> MODIFICA TUS DATOS</h5>
              <h6 class="text-muted mb-2">Si te has equivocado durante el registro, modifica aquí tus datos</h6>
            </mdb-card-title>
            <mdb-card-text>
              <app-profile-updater-form (loading)="loading = $event" [user]="user"></app-profile-updater-form>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
