<div class="wrapper">
  <div class="top-grad">
    <img class="skyline" src="/assets/skyline.svg">
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="user-img pr-4 pl-4 pt-4">
        <img src="{{ user?.photoURL }}" class="img-fluid z-depth-3 rounded-circle" alt="{{ user?.displayName }}-avatar">
      </div>
      <div *ngIf="user" class="profile-updater-wrapper p-4">
        <app-profile-updater-form [user]="user"></app-profile-updater-form>
      </div>
    </div>
    <div class="user-dashboard col-lg-9 col-md-12 col-sm-12 pr-4 pl-4 pb-4">
      <div class="d-none d-sm-none d-md-none d-lg-block separator"></div>

      <mdb-card class="mb-3">
        <mdb-card-body>
          <mdb-card-title>
            <h5 class="montserrat"><i class="fa fa-users" aria-hidden="true"></i> EQUIPO</h5>
            <h6 class="text-muted mb-2">Crea el mejor equipo posible</h6>
          </mdb-card-title>
          <mdb-card-text>
            <ul class="list-group list-group-horizontal">
              <div *ngFor="let i of [1, 2, 3]" class="col-4 p-4">
                <div class="team-member view overlay">
                  <img src="https://cdn.pixabay.com/photo/2017/11/05/20/58/fuchs-2921817_960_720.jpg" class="img-fluid rounded-circle"
                    alt="team-member-{{ i }}">
                  <div class="mask flex-center waves-effect waves-light rgba-purple-light rounded-circle">
                    <p class="white-text">Añade un miembro</p>
                  </div>
                </div>
              </div>
            </ul>
          </mdb-card-text>
          <a href="#!" class="card-link">Card link</a>
          <a href="#!" class="card-link">Another link</a>
        </mdb-card-body>
      </mdb-card>
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h5 class="montserrat"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> RETOS DEL CALENDARIO</h5>
            <h6 class="text-muted mb-2">Sube aquí los retos resueltos del calendario</h6>
          </mdb-card-title>
          <mdb-card-text>

          </mdb-card-text>
          <a href="#!" class="card-link">Upload</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
